# Firebase Client SDK (Public)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDhWfgNsJNKWtnAFRLBBAoW19AoBHiRpmU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=patr-mail.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=patr-mail
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=900351791817
NEXT_PUBLIC_FIREBASE_APP_ID=1:900351791817:web:f46f4d0ec104312e247318
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://patr-mail-default-rtdb.firebaseio.com

# Supabase Storage (Attachments - 100% Free, no credit card needed)
# TODO: Replace these with your actual Supabase URL and Anon Key as explained in the guide.
NEXT_PUBLIC_SUPABASE_URL=https://rehlorbesykbdwcrkzpu.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlaGxvcmJlc3lrYmR3Y3JrenB1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0MDE5NDMsImV4cCI6MjA5Njk3Nzk0M30.G3ezgbVgKKeaJv7iDBDzECz65r59NFPppLQSqtFI548

# Resend (Transactional Email)
RESEND_API_KEY=re_Zdo5Jvdt_BY75LXwEp6wrWG624q7bGHPj

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Patr
NEXT_PUBLIC_APP_DOMAIN=patr.in

# Resend (Email Verification API)
RESEND_API_KEY=your_resend_api_key_here


